<webbox id="country_list">
<strong>T_("Countries"):</strong>
<table class="list_table" cellspacing="1" cellpadding="0">
  <tr>
    <td class="list_header">T_("ID")</td>
    <td class="list_header">T_("Name")</td>
    <td class="list_header">T_("Email")</td>
    <td class="list_header">T_("Phone")</td>
    <td class="list_header">T_("Admin")</td>
    <if condition="'{{mode}}'=='edit'">
      <td class="list_header" nowrap="true">
        <a class="button" href="javascript:add_country()">T_("Add")</a>&amp;nbsp;
      </td>
    </if>
  </tr>
  <repeat rs="countries">
    <ifempty>
      <tr><td colspan="5" class="list_empty">T_("No countries found!")</td></tr>
    </ifempty>
    <var name="row">{{CurrentRowNr}}%2</var>
    <tr>
      <td class="id_row_{{row}}" width="1%" nowrap="true">
       <a href="javascript:select_country('{{country_id}}')">
         {{country_id}}
       </a>
      </td>
      <td class="row_{{row}}">{{name}}</td>
      <td class="row_{{row}}">{{email}}</td>
      <td class="row_{{row}}">{{phone}}</td>
      <td class="row_{{row}}">{{admin}}</td>
      <if condition="'{{mode}}'=='edit'">
        <td class="row_{{row}}" width="1%" nowrap="true">
          <a class="button" href="javascript:edit_country('{{country_id}}')">T_("E")</a>
          <a class="button" href="javascript:del_country('{{country_id}}')">T_("X")</a>
        </td>
      </if>
    </tr>
  </repeat>

  <include src="{{./}}edit/country_edit.html" />

</table>

</webbox>
