<webbox id="node_list">

<table class="list_table" cellspacing="1" cellpadding="0">
  <tr>
    <td class="list_header" width="2%">T_("Nr")</td>
    <td class="list_header">T_("Type")</td>
    <td class="list_header">T_("Machine Name")</td>
    <td class="list_header">T_("Arch")</td>
    <td class="list_header">T_("OS")</td>
    <td class="list_header">T_("CPU")</td>
    <td class="list_header">T_("RAM")</td>
    <td class="list_header">T_("Storage")</td>
    <td class="list_header">T_("Middleware")</td>
    <td class="list_header">T_("Comments")</td>
    <if condition="'{{mode}}'=='edit'">
      <td class="list_header" nowrap="true">
        <a class="button" href="javascript:add_node()">
          T_("Add")</a>&nbsp;
      </td>
    </if>
  </tr>
  <repeat rs="nodes">
    <ifempty>
      <tr><td colspan="5" class="list_empty">T_("No node found!")</td></tr>
    </ifempty>
    <var name="row">{{CurrentRowNr}}%2</var>
    <tr>
      <td class="row_nr_{{row}}">{{CurrentRowNr}}</td>
      <td class="row_{{row}}">{{type}}</td>
      <td class="row_{{row}}">{{machine_name}}</td>
      <td class="row_{{row}}">{{arch}}</td>
      <td class="row_{{row}}">{{os}}</td>
      <td class="row_{{row}}">{{cpu}}</td>
      <td class="row_{{row}}">{{ram}}</td>
      <td class="row_{{row}}">{{storage}}</td>
      <td class="row_{{row}}">{{middleware}}</td>
      <td class="row_{{row}}">{{comments}}</td>
      <if condition="'{{mode}}'=='edit'">
        <td class="row_{{row}}" width="1%" nowrap="true">
          <a class="button"
             href="javascript:edit_node('{{node_id}}')">T_("E")</a>
          <a class="button"
             href="javascript:del_node('{{node_id}}')">T_("X")</a>
        </td>
      </if>
    </tr>
  </repeat>

  <include src="{{./}}edit/node_edit.html" />

</table>

</webbox>
