<webbox id="site_list">
<strong>T_("Sites"):</strong>
<table class="list_table" cellspacing="1" cellpadding="0">
  <tr>
    <td class="list_header">T_("ID")</td>
    <td class="list_header">T_("Name")</td>
    <td class="list_header">T_("Email")</td>
    <td class="list_header">T_("Phone")</td>
    <td class="list_header">T_("Admin")</td>
    <if condition="'{{mode}}'=='edit'">
      <td class="list_header" nowrap="true">
        <a class="button" href="javascript:add_site()">T_("Add")</a>&amp;nbsp;
      </td>
    </if>
  </tr>
  <repeat rs="sites">
    <ifempty>
      <tr><td colspan="5" class="list_empty">T_("No sites found!")</td></tr>
    </ifempty>
    <var name="row">{{CurrentRowNr}}%2</var>
    <tr>
      <td class="id_row_{{row}}" width="1%" nowrap="true">
       <a href="javascript:select_site('{{site_id}}')">
         {{site_id}}
       </a>
      </td>
      <td class="row_{{row}}">{{name}}</td>
      <td class="row_{{row}}">{{email}}</td>
      <td class="row_{{row}}">{{phone}}</td>
      <td class="row_{{row}}">{{admin}}</td>
      <if condition="'{{mode}}'=='edit'">
        <td class="row_{{row}}" width="1%" nowrap="true">
          <a class="button" href="javascript:edit_site('{{site_id}}')">T_("E")</a>
          <a class="button" href="javascript:del_site('{{site_id}}')">T_("X")</a>
        </td>
      </if>
    </tr>
  </repeat>

  <include src="{{./}}edit/site_edit.html" />

</table>

</webbox>

