<webbox id="downtime_list">

<table class="list_table" cellspacing="1" cellpadding="0">
  <tr>
    <td class="list_header" width="2%">T_("Nr")</td>
    <td class="list_header">T_("Start")</td>
    <td class="list_header">T_("End")</td>
    <td class="list_header">T_("Description")</td>
    <if condition="'{{mode}}'=='edit'">
      <td class="list_header" nowrap="true">
        <a class="button" href="javascript:add_downtime()">
          T_("Add")</a>&amp;nbsp;
      </td>
    </if>
  </tr>
  <repeat rs="downtimes">
    <ifempty>
      <tr><td colspan="5" class="list_empty">T_("No downtime found!")</td></tr>
    </ifempty>
    <var name="row">{{CurrentRowNr}}%2</var>
    <tr>
      <td class="row_nr_{{row}}">{{CurrentRowNr}}</td>
      <td class="row_{{row}}">{{start}}</td>
      <td class="row_{{row}}">{{endtime}}</td>
      <td class="row_{{row}}">{{description}}</td>
      <if condition="'{{mode}}'=='edit'">
        <td class="row_{{row}}" width="1%" nowrap="true">
          <a class="button" href="javascript:edit_downtime('{{downtime_id}}')">T_("E")</a>
          <a class="button" href="javascript:del_downtime('{{downtime_id}}')">T_("X")</a>
        </td>
      </if>
    </tr>
  </repeat>

  <include src="{{./}}edit/downtime_edit.html" />

</table>

</webbox>
