/*------- first level --------*/

.minner1
{
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 12px;
  text-decoration : none;
  white-space: nowrap;
  padding: 2px 4px;
}
.moout1 
{
  text-decoration : none;
  border : 1px outset #ffffff;
  color: #000066;
  background: #66ee66;
  border: 1px outset #ffffff;
}
.moover1
{
  text-decoration : none;
  border : 1px outset #ffffff;
  color: #000088;
  background: #88ff88;
}
.modown1
{
  background: #eef9ff;
  border: 1px inset #ffffff;
}


/*------- other levels --------*/

/* all levels inner */
.minner
{
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 12px;
  text-decoration : none;
  white-space: nowrap;
  padding: 2px 4px;
}

/* all levels, all states, outer */
.moout 
{
  text-decoration : none;
  border : 1px outset #44dddd;
  background: #44dddd;
  color: #000066;
}
.moover
{
  text-decoration : none;
  border : 1px outset #66eeee;
  background: #66eeee;
  color: #000088;
}
.modown
{
  border: 1px inset #88ffff;
  background: #88ffff;
}
