<table class="input-form">
  <tr>
    <td valign="top">
      General Info and Contacts:
      <table class="group-box" cellspacing="1" style="padding:0px;">
        <tr>
          <td class="name_1">Name:</td>
          <td class="value_1"><strong>{{name}}</strong></td>
        </tr>
        <tr>
          <td class="name_2">Homepage:</td>
          <td class="value_2"><a href="{{homepage}}">{{homepage}}</a></td>
        </tr>
        <tr>
          <td class="name_1">GIIS URL:</td>
          <td class="value_1"><a href="{{giis_url}}">{{giis_url}}</a></td>
        </tr>
        <tr>
          <td class="name_2">Monitoring:</td>
          <td class="value_2">{{monitoring}}</td>
        </tr>
        <tr>
          <td class="name_1">Status:</td>
          <td class="value_1">{{status}}</td>
        </tr>
        <tr>
          <td class="name_2">Type:</td>
          <td class="value_2">{{type}}</td>
        </tr>
        <tr>
          <td class="name_1">Hours Available:</td>
          <td class="value_1">{{hours_available}}</td>
        </tr>
        <tr>
          <td class="name_2">Timezone:</td>
          <td class="value_2">{{timezone}}</td>
        </tr>
        <tr><td colspan="2"><hr /></td></tr>
        <tr>
          <td class="name_1">Email:</td>
          <td class="value_1"><a href="mailto:{{email}}">{{email}}</a></td>
        </tr>
        <tr>
          <td class="name_2">Phone:</td>
          <td class="value_2">{{phone}}</td>
        </tr>
        <tr>
          <td class="name_1">Emergency Phone:</td>
          <td class="value_1">{{emergency_phone}}</td>
        </tr>
        <tr>
          <td class="name_2">CSIRT Email:</td>
          <td class="value_2"><a href="mailto:{{csirt_email}}">{{csirt_email}}</a></td>
        </tr>
        <tr>
          <td class="name_1">CSIRT Phone:</td>
          <td class="value_1">{{csirt_phone}}</td>
        </tr>
      </table>
    </td>

    <td valign="top">
      Resources:
      <table class="group-box" cellspacing="1" style="padding:0px;">
        <tr>
          <td class="name_1">Operating System:</td>
          <td class="value_1">{{OS}}</td>
        </tr>
        <tr>
          <td class="name_2">Middleware Software:</td>
          <td class="value_2">{{middleware}}</td>
        </tr>
        <tr>
          <td class="name_1">Batch System:</td>
          <td class="value_1">{{batch_system}}</td>
        </tr>
        <tr>
          <td class="name_2">VO-s Supported:</td>
          <td class="value_2">{{VOs_supported}}</td>
        </tr>
        <tr>
          <td class="name_1">Installed Applications:</td>
          <td class="value_1">{{apps_supported}}</td>
        </tr>
        <tr>
          <td class="name_2">Number of WorkNodes:</td>
          <td class="value_2">{{WN_count}}</td>
        </tr>
        <tr>
          <td class="name_1">Storage Type:</td>
          <td class="value_1">{{storage_type}}</td>
        </tr>
        <tr>
          <td class="name_2">Storage Size:</td>
          <td class="value_2">{{storage_size}}</td>
        </tr>
        <tr>
          <td class="name_1">LAN Connection:</td>
          <td class="value_1">{{lan_connection}}</td>
        </tr>
        <tr>
          <td class="name_2">WAN Connection:</td>
          <td class="value_2">{{wan_connection}}</td>
        </tr>
        <tr><td colspan="2"><hr /></td></tr>
        <tr>
          <td class="name_1">Comments:</td>
          <td class="value_1">{{comments}}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div align="right">
  T_("Last modified on"): {{timestamp}}
</div>
