<form name="site_edit" onsubmit="return false;">
<input type="submit" class="hidden_submit" onclick="this.focus(); save();" />

<table class="input-form">
  <if condition="{{is_country_admin}}">
  <tr>
    <td colspan="10">
      Admin:
      <table class="group-box">
        <tr>
          <td>Site id:</td>
          <td>
            <input type="text" name="site_id" value="{{site_id}}" />
            <a class="button" href="javascript:change_id()">Change</a>
          </td>
        </tr>
        <tr>
          <td valign="top">Admin Certificates:</td>
          <td>
            <textarea name="admin" rows="3" cols="70">{{admin}}</textarea>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <a class="button" href="javascript:set_admin()">Save</a>
          </td>
        </tr>
      </table>
      <br />
    </td>
  </tr>
  </if>

  <tr>
    <td valign="top">
      General Info and Contacts:
      <table class="group-box">
        <tr>
          <td>Name:</td>
          <td>
            <input type="text" name="name" value="{{name}}" />
          </td>
        </tr>
        <tr>
          <td>Homepage:</td>
          <td>
            <input type="text" name="homepage" value="{{homepage}}" size="40" />
          </td>
        </tr>
        <tr>
          <td>GIIS URL:</td>
          <td>
            <input type="text" name="giis_url" value="{{giis_url}}" size="40" />
          </td>
        </tr>
        <tr>
          <td>Monitoring:</td>
          <td>
            <input type="text" name="monitoring" value="{{monitoring}}" />
          </td>
        </tr>
        <tr>
          <td>Status:</td>
          <td>
            <input type="text" name="status" value="{{status}}" />
          </td>
        </tr>
        <tr>
          <td>Type:</td>
          <td>
            <input type="text" name="type" value="{{type}}" />
          </td>
        </tr>
        <tr>
          <td>Hours Available:</td>
          <td>
            <input type="text" name="hours_available" value="{{hours_available}}" />
          </td>
        </tr>
        <tr>
          <td>Timezone:</td>
          <td>
            <input type="text" name="timezone" value="{{timezone}}" />
          </td>
        </tr>
        <tr><td colspan="2"><hr /></td></tr>
        <tr>
          <td>Email:</td>
          <td>
            <input type="text" name="email" value="{{email}}" />
          </td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>
            <input type="text" name="phone" value="{{phone}}" />
          </td>
        </tr>
        <tr>
          <td>Emergency Phone:</td>
          <td>
            <input type="text" name="emergency_phone" value="{{emergency_phone}}" />
          </td>
        </tr>
        <tr>
          <td>CSIRT Email:</td>
          <td>
            <input type="text" name="csirt_email" value="{{csirt_email}}" />
          </td>
        </tr>
        <tr>
          <td>CSIRT Phone:</td>
          <td>
            <input type="text" name="csirt_phone" value="{{csirt_phone}}" />
          </td>
        </tr>
      </table>
    </td>

    <td valign="top">
      Resources:
      <table class="group-box">
        <tr>
          <td>Operating System:</td>
          <td>
            <input type="text" name="OS" value="{{OS}}" />
          </td>
        </tr>
        <tr>
          <td>Middleware Software:</td>
          <td>
            <input type="text" name="middleware" value="{{middleware}}" />
          </td>
        </tr>
        <tr>
          <td>Batch System:</td>
          <td>
            <input type="text" name="batch_system" value="{{batch_system}}" />
          </td>
        </tr>
        <tr>
          <td>VO-s Supported:</td>
          <td>
            <input type="text" name="VOs_supported" value="{{VOs_supported}}" />
          </td>
        </tr>
        <tr>
          <td>Number of WorkNodes:</td>
          <td>
            <input type="text" name="WN_count" value="{{WN_count}}" />
          </td>
        </tr>
        <tr>
          <td>Storage Type:</td>
          <td>
            <input type="text" name="storage_type" value="{{storage_type}}" />
          </td>
        </tr>
        <tr>
          <td>Storage Size:</td>
          <td>
            <input type="text" name="storage_size" value="{{storage_size}}" />
          </td>
        </tr>
        <tr>
          <td>LAN Connection Speed:</td>
          <td>
            <input type="text" name="lan_connection" value="{{lan_connection}}" />
          </td>
        </tr>
        <tr>
          <td>WAN Connection Speed:</td>
          <td>
            <input type="text" name="wan_connection" value="{{wan_connection}}" />
          </td>
        </tr>
        <tr><td colspan="2"><hr /></td></tr>
        <tr>
          <td valign="top">Comments:</td>
          <td>
            <textarea name="comments">{{comments}}</textarea>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td colspan="10" align="center">
      <a class="button" href="javascript:save_site()">Save</a>
    </td>
  </tr>
</table>
</form>
