<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="EN">
<head>
  <title>T_("Grid Operation Center Database")</title>
  <meta http-equiv="Content-Type" content="text/html; charset={{codeset}}" />
</head>

<body>
<webbox id="main">

<include src="{{./}}header.html" />

<div style="margin: 5px;">
  <include src="{{TPL}}{{interface_file}}" />
</div>

<include src="{{./}}footer.html" />

<include src="{{MENU}}menu.html" />

</webbox>
</body>
</html>
