<table class="page-header" cellspacing="0" cellpadding="0"
       background="{{GRAPHICS}}header-background.png" bgcolor="#eeeeee">
  <tr>
    <td align="center" valign="middle" width="130">
      <a href="" target="_blank">
        <img src="{{GRAPHICS}}header-logo.png" border="0" />
      </a>
    </td>
    <td class="title">T_("Grid Operation Center Database")</td>
    <td valign="bottom" width="10%" align="right" nowrap="nowrap">
      <include src="{{LISTBOX_PATH}}listbox.html" />
      <webobject class="listbox" name="languages" value="{{language}}"
                 rs="languages" onchange="select_language(this)" />
    </td>
  </tr>
</table>
