<form name="country_edit" onsubmit="return false;">
<input type="submit" class="hidden_submit" value=""
       onclick="this.focus(); save_country();" />
<table width="100%" border="0">
  <if condition="{{is_roc_admin}}">
  <tr>
    <td>T_("Country id"):</td>
    <td>
      <input type="text" name="country_id" value="{{country_id}}" />
      <a class="button" href="javascript:change_id()">T_("Change")</a>
    </td>
  </tr>
  <tr>
    <td valign="top">T_("Admin Certificates"):</td>
    <td>
      <textarea name="admin" rows="3" cols="70">{{admin}}</textarea>
    </td>
  </tr>
  <tr>
    <td></td>
    <td>
      <a class="button" href="javascript:set_admin()">T_("Save")</a>
    </td>
  </tr>
  <tr><td colspan="2"><hr/></td></tr>
  </if>

  <tr>
    <td>T_("Name"):</td>
    <td><input type="text" name="name" value="{{name}}" size="40"/></td>
  </tr>
  <tr>
    <td>T_("Email"):</td>
    <td><input type="text" name="email" value="{{email}}" size="40" /></td>
  </tr>
  <tr>
    <td>T_("Phone"):</td>
    <td><input type="text" name="phone" value="{{phone}}" size="40" /></td>
  </tr>
  <tr>
    <td valign="top">T_("Comments"):</td>
    <td>
      <textarea name="comments" rows="3" cols="70">{{comments}}</textarea>
    </td>
  </tr>
  <tr>
    <td></td>
    <td><a class="button" href="javascript:save_country()">T_("Save")</a></td>
  </tr>
</table>
</form>