.list_table
{
  width: 100%;
  border: 1px outset #cccccc;
  background-color: #ffffff;
}

.list_table td
{
  color: #000000;
}

.list_empty
{
  padding: 2px;
  font-weight: bold;
  color: #888888;
}

td.list_header
{
  background-color: #ffffaa;
  border: 1px outset #bbbbbb;
  padding: 2px;
  text-align: center;
  font-weight: bold;
}

td.row_0
{
  padding: 2px;
  background-color: #eeeedd;
  text-align: center;
}

td.row_1
{
  padding: 2px;
  background-color: #ddeedd;
  text-align: center;
}

td.row_nr_0, td.id_row_0
{
  padding: 2px;
  background-color: #ddddcc;
  text-align: center;
}

td.row_nr_1, td.id_row_1
{
  padding: 2px;
  background-color: #ccddcc;
  text-align: center;
}

tr.row_edit td
{
  background-color: #ddeeee;
  text-align: center;
  color: #ff2222;
}

tr.row_edit input, tr.row_edit select
{
  border: none;
  text-align: center;
  background-color: #ddeeee;
  color: #ff2222;
}
