<webbox id="site_edit">
<if condition="'{{mode}}'!='hidden'">
<form name="site_edit" onsubmit="return false;">
<input type="submit" class="hidden_submit" value=""
       onclick="this.focus(); save_site();" />
<tr class="row_edit">
  <td>
    <input type="text" name="site_id" value="{{site_id}}" size="10" />
  </td>
  <td>
    <input type="text" name="name" value="{{name}}" size="15" />
  </td>
  <td>
    <input type="text" name="email" value="{{email}}" size="15" />
  </td>
  <td>
    <input type="text" name="phone" value="{{phone}}" size="15" />
  </td>
  <td>
    <input type="text" name="admin" value="{{admin}}" size="70" />
  </td>
  <td>
    <a class="button" href="javascript:save_site()">Save</a>
  </td>
</tr>
</form>
</if>
</webbox>

