<webbox id="roc_edit">
<if condition="'{{mode}}'!='hidden'">
<form name="roc_edit" onsubmit="return false;">
<input type="submit" class="hidden_submit" value=""
       onclick="this.focus(); save_roc();" />
<tr class="row_edit">
  <td>
    <input type="text" name="ROC_id" value="{{ROC_id}}" size="10" />
  </td>
  <td>
    <input type="text" name="name" value="{{name}}" size="25" />
  </td>
  <td>
    <input type="text" name="email" value="{{email}}" size="15" />
  </td>
  <td>
    <input type="text" name="phone" value="{{phone}}" size="15" />
  </td>
  <td>
    <input type="text" name="admin" value="{{admin}}" size="65" />
  </td>
  <td>
    <a class="button" href="javascript:save_roc()">T_("Save")</a>
  </td>
</tr>
</form>
</if>
</webbox>
