<webbox id="roc">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td class="node_title">
      T_("Regional Operation Center"): &amp;nbsp;&amp;nbsp;
      <strong>{{id}} &amp;nbsp;&amp;nbsp;({{name}})</strong>
    </td>
    <if condition="'{{is_roc_admin}}'=='true'">
    <td align="right">
      <if condition="'{{mode}}'=='view'">
        <a class="button" href="javascript:set_mode('edit')">T_("Edit")</a>
      </if>
      <if condition="'{{mode}}'=='edit'">
        <a class="button" href="javascript:set_mode('view')">T_("View")</a>
      </if>
    </td>
    </if>
  </tr>
</table>
<hr />

<include src="{{./}}roc_{{mode}}.html" />
<hr />

<!--# country list #-->
<include src="{{./}}countries/country_list.html" />

</webbox>
