<webbox id="node_edit">

<if condition="'{{mode}}'!='hidden'">
<form name="node_edit" onsubmit="return false;">
<input type="submit" class="hidden_submit" value=""
       onclick="this.focus(); save_node();" />

<tr class="row_edit">
  <td>#</td>
  <td><input type="text" name="type" value="{{type}}" size="10" /></td>
  <td><input type="text" name="machine_name" value="{{machine_name}}" size="20" /></td>
  <td><input type="text" name="arch" value="{{arch}}" size="5" /></td>
  <td><input type="text" name="os" value="{{os}}" size="5" /></td>
  <td><input type="text" name="cpu" value="{{cpu}}" size="5" /></td>
  <td><input type="text" name="ram" value="{{ram}}" size="5" /></td>
  <td><input type="text" name="storage" value="{{storage}}" size="5" /></td>
  <td><input type="text" name="middleware" value="{{middleware}}" size="10" /></td>
  <td><input type="text" name="comments" value="{{comments}}" size="20" /></td>
  <td><a class="button" href="javascript:save_node()">T_("Save")</a></td>
</tr>
</form>
</if>

</webbox>
