<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td>
      <h1>Hierarchical Grid Site Managment</h1>
    </td>
    <td width="1%" align="right" valign="top">
      <a href="http://sourceforge.net"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=155236&amp;type=1" width="88" height="31" border="0" alt="SourceForge.net Logo" /></a>
    </td>
  </tr>
</table>
