
/* --------- input forms ---------- */

.input-form
{
  width: 100%;
  border: 1px outset #eecccc;
  background-color: #f8fff8;
  padding: 5px;
}

.input-form td
{
  font-weight: bold;
  color: #222222;
}

.group-box
{
  border: 1px solid #ffdddd;
  background-color: #ffffee;
  padding: 3px;
}

.group-box td
{
  font-weight: normal;
  color: #000000;
}

.group-box input, .group-box textarea
{
  padding: 2px;
  border: 1px solid #ffdddd;
}

.group-box hr
{
  width: 100%;
  margin: 0px;
  border: none;
  height: 1px;  
  background-color: #ffdddd;
}

/*
.form-header
{
  width: 100%;
  background-color: #e8e8e8;
  border: 1px outset #bbbbbb;
}

.form-header td
{
  font-weight: bold;
  color: #444488;
  padding-left: 10px;
}
*/