body
{
  background-color: #ffffff;  
  margin: 0;
  font-family: sans-serif;
  font-size: 10pt;
  color: #000066;
}

p, div, span, li, td, dt
{
  font-family: sans-serif;
  font-size: 10pt;
  color: #000066;
}

hr
{
  margin-top: 0px;
  border: none;
  height: 1px;
  background-color: #cccccc;
}

input
{
  border-width: 1px;
}

select, td select
{
  background-color: #f8f8f8;
  color: #444444;
}

.page_header select
{
  align: left;
  background-color: #f8f8f8;
  color: #444444;
}

a
{
  font-family: sans-serif;
  font-size: 10pt;
  color: #0000cc;
  text-decoration: none;
}
a:visited    { color: #0000cc; }
a:link       { color: #0000cc; }
a:link:hover { color: #990000;  }

.button, a.button, a.button:hover
{
  margin: 1px;
  border: none;
  padding: 1px 3px;
  background: #0088bb;
  color: #ffffff;
  font-weight: bold;
}

.page-header
{
  width: 100%;
  height: 50px;
  background-color: #eeeeee;
}

.title
{
  color: #ff0000;
  font-family: sans-serif;
  font-size: 200%;
  text-align: center;
}

.page-footer
{
  width: 100%;
  background-color: #eeeeee;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 2px;
}

.page-footer td
{
  font-family: sans-serif;
  font-size: 10pt;
}
