
.node_title, .node_title a, .node_title a:visited, .node_title a:link
{
  font-size: 14pt;
  color: #dd2222;
}

.node_title a:link:hover
{
  color: #ff2222;
}

.description
{
  margin: 5px;
}

textarea.description
{
  border: 1px solid #eeeeee;
  padding: 2px;
}