<webbox id="goc">

<table width="100%" border="0">
  <tr>
    <td>T_("Email"):</td>
    <td><a href="mailto:email">email</a></td>
  </tr>
  <tr>
    <td>T_("Phone"):</td>
    <td><strong>phone</strong></td>
  </tr>
</table>
<hr />

<!--# roc list #-->
<include src="{{./}}rocs/roc_list.html" />

</webbox>