<webbox id="site">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td class="node_title">
      T_("Site"): 
      <a href="javascript:select_country('{{country_id}}')">
      {{country_id}}</a>
      --> <strong>{{site_id}}</strong>
      ({{name}} / 
      <a href="javascript:select_country('{{country_id}}')">
         {{country_name}}</a> )
    </td>
    <td>
      <include src="{{WOBJ}}tabs/tabs1.html" />
      <webobject class="tabs1" name="menu" items="{{./}}menu_items.php" />
    </td>
    <if condition="{{is_site_admin}}">
    <td align="right">
      <if condition="'{{mode}}'=='view'">
        <a class="button" href="javascript:set_mode('edit')">T_("Edit")</a>
      </if>
      <if condition="'{{mode}}'
=='edit'">
        <a class="button" href="javascript:set_mode('view')">T_("View")</a>
      </if>
    </td>
    </if>
  </tr>
</table>
<hr />

<webbox id="site_submodule">
  <!--# include submodule #-->
  <include src="{{./}}{{submodule}}" />
</webbox>

</webbox>
