<webbox id="country_edit">
<if condition="'{{mode}}'!='hidden'">
<form name="country_edit" onsubmit="return false;">
<input type="submit" class="hidden_submit" value=""
       onclick="this.focus(); save_country();" />
<tr class="row_edit">
  <td>
    <input type="text" name="country_id" value="{{country_id}}" size="6" />
  </td>
  <td>
    <input type="text" name="name" value="{{name}}" size="10" />
  </td>
  <td>
    <input type="text" name="email" value="{{email}}" size="15" />
  </td>
  <td>
    <input type="text" name="phone" value="{{phone}}" size="15" />
  </td>
  <td>
    <input type="text" name="admin" value="{{admin}}" size="75" />
  </td>
  <td>
    <a class="button" href="javascript:save_country()">T_("Save")</a>
  </td>
</tr>
</form>
</if>
</webbox>
