<webbox id="country_list">
<strong>Countries:</strong>
<table class="list_table" cellspacing="1" cellpadding="0">
  <tr>
    <td class="list_header">ID</td>
    <td class="list_header">Name</td>
    <td class="list_header">Email</td>
    <td class="list_header">Phone</td>
    <td class="list_header">Admin</td>
    <if condition="'{{mode}}'=='edit'">
      <td class="list_header" nowrap="true">
        <a class="button" href="javascript:add_country()">Add</a>&nbsp;
      </td>
    </if>
  </tr>
  <repeat rs="countries">
    <ifempty>
      <tr><td colspan="5" class="list_empty">No countries found!</td></tr>
    </ifempty>
    <var name="row">{{CurrentRowNr}}%2</var>
    <tr>
      <td class="id_row_{{row}}" width="1%" nowrap="true">
       <a href="javascript:select_country('{{country_id}}')">
         {{country_id}}
       </a>
      </td>
      <td class="row_{{row}}">{{name}}</td>
      <td class="row_{{row}}">{{email}}</td>
      <td class="row_{{row}}">{{phone}}</td>
      <td class="row_{{row}}">{{admin}}</td>
      <if condition="'{{mode}}'=='edit'">
        <td class="row_{{row}}" width="1%" nowrap="true">
          <a class="button" href="javascript:edit_country('{{country_id}}')">E</a>
          <a class="button" href="javascript:del_country('{{country_id}}')">X</a>
        </td>
      </if>
    </tr>
  </repeat>

  <include src="{{./}}edit/country_edit.html" />

</table>

</webbox>
