<form name="site_edit" onsubmit="return false;">
<input type="submit" class="hidden_submit" value=""
       onclick="this.focus(); save();" />

<table class="input-form">
  <if condition="{{is_country_admin}}">
  <tr>
    <td colspan="10">
      T_("Admin"):
      <table class="group-box">
        <tr>
          <td>T_("Site id"):</td>
          <td>
            <input type="text" name="site_id" value="{{site_id}}" />
            <a class="button" href="javascript:change_id()">T_("Change")</a>
          </td>
        </tr>
        <tr>
          <td valign="top">T_("Admin Certificates"):</td>
          <td>
            <textarea name="admin" rows="3" cols="70">{{admin}}</textarea>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <a class="button" href="javascript:set_admin()">T_("Save")</a>
          </td>
        </tr>
      </table>
      <br />
    </td>
  </tr>
  </if>

  <tr>
    <td valign="top">
      T_("General Info and Contacts"):
      <table class="group-box">
        <tr>
          <td>T_("Name"):</td>
          <td>
            <input type="text" name="name" value="{{name}}" />
          </td>
        </tr>
        <tr>
          <td>T_("Homepage"):</td>
          <td>
            <input type="text" name="homepage" value="{{homepage}}" size="40" />
          </td>
        </tr>
        <tr>
          <td>T_("GIIS URL"):</td>
          <td>
            <input type="text" name="giis_url" value="{{giis_url}}" size="40" />
          </td>
        </tr>
        <tr>
          <td>T_("Monitoring"):</td>
          <td>
            <webobject class="listbox" name="monitoring"
                       value="{{monitoring}}" rs="yes-no"
                       width="--------------------" />
          </td>
        </tr>
        <tr>
          <td>T_("Status"):</td>
          <td>
            <webobject class="listbox" name="status"
                       value="{{status}}" rs="site-status"
                       width="--------------------" />
          </td>
        </tr>
        <tr>
          <td>T_("Type"):</td>
          <td>
            <webobject class="listbox" name="type"
                       value="{{type}}" rs="site-type"
                       width="--------------------" />
          </td>
        </tr>
        <tr>
          <td>T_("Hours Available"):</td>
          <td>
            <input type="text" name="hours_available" value="{{hours_available}}" />
          </td>
        </tr>
        <tr>
          <td>T_("Timezone"):</td>
          <td>
            <input type="text" name="timezone" value="{{timezone}}" />
          </td>
        </tr>
        <tr><td colspan="2"><hr /></td></tr>
        <tr>
          <td>T_("Email"):</td>
          <td>
            <input type="text" name="email" value="{{email}}" />
          </td>
        </tr>
        <tr>
          <td>T_("Phone"):</td>
          <td>
            <input type="text" name="phone" value="{{phone}}" />
          </td>
        </tr>
        <tr>
          <td>T_("Emergency Phone"):</td>
          <td>
            <input type="text" name="emergency_phone" value="{{emergency_phone}}" />
          </td>
        </tr>
        <tr>
          <td>T_("CSIRT Email"):</td>
          <td>
            <input type="text" name="csirt_email" value="{{csirt_email}}" />
          </td>
        </tr>
        <tr>
          <td>T_("CSIRT Phone"):</td>
          <td>
            <input type="text" name="csirt_phone" value="{{csirt_phone}}" />
          </td>
        </tr>
      </table>
    </td>

    <td valign="top">
      T_("Resources"):
      <table class="group-box">
        <tr>
          <td>T_("Operating System"):</td>
          <td>
            <input type="text" name="OS" value="{{OS}}" />
          </td>
        </tr>
        <tr>
          <td>T_("Middleware Software"):</td>
          <td>
            <input type="text" name="middleware" value="{{middleware}}" />
          </td>
        </tr>
        <tr>
          <td>T_("Batch System"):</td>
          <td>
            <input type="text" name="batch_system" value="{{batch_system}}" />
          </td>
        </tr>
        <tr>
          <td>T_("VO-s Supported"):</td>
          <td>
            <input type="text" name="VOs_supported" value="{{VOs_supported}}" />
          </td>
        </tr>
        <tr>
          <td>T_("Number of WorkNodes"):</td>
          <td>
            <input type="text" name="WN_count" value="{{WN_count}}" />
          </td>
        </tr>
        <tr>
          <td>T_("Storage Type"):</td>
          <td>
            <input type="text" name="storage_type" value="{{storage_type}}" />
          </td>
        </tr>
        <tr>
          <td>T_("Storage Size"):</td>
          <td>
            <input type="text" name="storage_size" value="{{storage_size}}" />
          </td>
        </tr>
        <tr>
          <td>T_("LAN Connection Speed"):</td>
          <td>
            <input type="text" name="lan_connection" value="{{lan_connection}}" />
          </td>
        </tr>
        <tr>
          <td>T_("WAN Connection Speed"):</td>
          <td>
            <input type="text" name="wan_connection" value="{{wan_connection}}" />
          </td>
        </tr>
        <tr><td colspan="2"><hr /></td></tr>
        <tr>
          <td valign="top">T_("Comments"):</td>
          <td>
            <textarea name="comments">{{comments}}</textarea>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td colspan="10" align="center">
      <a class="button" href="javascript:save_site()">T_("Save")</a>
    </td>
  </tr>
</table>
</form>
