<table class="input-form">
  <tr>
    <td valign="top">
      T_("General Info and Contacts"):
      <table class="group-box" cellspacing="1" style="padding:0px;">
        <tr>
          <td class="name_1">T_("Name"):</td>
          <td class="value_1"><strong>{{name}}</strong></td>
        </tr>
        <tr>
          <td class="name_2">T_("Homepage"):</td>
          <td class="value_2"><a href="{{homepage}}">{{homepage}}</a></td>
        </tr>
        <tr>
          <td class="name_1">T_("GIIS URL"):</td>
          <td class="value_1"><a href="{{giis_url}}">{{giis_url}}</a></td>
        </tr>
        <tr>
          <td class="name_2">T_("Monitoring"):</td>
          <td class="value_2">{{monitoring}}</td>
        </tr>
        <tr>
          <td class="name_1">T_("Status"):</td>
          <td class="value_1">{{status}}</td>
        </tr>
        <tr>
          <td class="name_2">T_("Type"):</td>
          <td class="value_2">{{type}}</td>
        </tr>
        <tr>
          <td class="name_1">T_("Hours Available"):</td>
          <td class="value_1">{{hours_available}}</td>
        </tr>
        <tr>
          <td class="name_2">T_("Timezone"):</td>
          <td class="value_2">{{timezone}}</td>
        </tr>
        <tr><td colspan="2"><hr /></td></tr>
        <tr>
          <td class="name_1">T_("Email"):</td>
          <td class="value_1"><a href="mailto:{{email}}">{{email}}</a></td>
        </tr>
        <tr>
          <td class="name_2">T_("Phone"):</td>
          <td class="value_2">{{phone}}</td>
        </tr>
        <tr>
          <td class="name_1">T_("Emergency Phone"):</td>
          <td class="value_1">{{emergency_phone}}</td>
        </tr>
        <tr>
          <td class="name_2">T_("CSIRT Email"):</td>
          <td class="value_2"><a href="mailto:{{csirt_email}}">{{csirt_email}}</a></td>
        </tr>
        <tr>
          <td class="name_1">T_("CSIRT Phone"):</td>
          <td class="value_1">{{csirt_phone}}</td>
        </tr>
      </table>
    </td>

    <td valign="top">
      T_("Resources"):
      <table class="group-box" cellspacing="1" style="padding:0px;">
        <tr>
          <td class="name_1">T_("Operating System"):</td>
          <td class="value_1">{{OS}}</td>
        </tr>
        <tr>
          <td class="name_2">T_("Middleware Software"):</td>
          <td class="value_2">{{middleware}}</td>
        </tr>
        <tr>
          <td class="name_1">T_("Batch System"):</td>
          <td class="value_1">{{batch_system}}</td>
        </tr>
        <tr>
          <td class="name_2">T_("VO-s Supported"):</td>
          <td class="value_2">{{VOs_supported}}</td>
        </tr>
        <tr>
          <td class="name_1">T_("Installed Applications"):</td>
          <td class="value_1">{{apps_supported}}</td>
        </tr>
        <tr>
          <td class="name_2">T_("Number of WorkNodes"):</td>
          <td class="value_2">{{WN_count}}</td>
        </tr>
        <tr>
          <td class="name_1">T_("Storage Type"):</td>
          <td class="value_1">{{storage_type}}</td>
        </tr>
        <tr>
          <td class="name_2">T_("Storage Size"):</td>
          <td class="value_2">{{storage_size}}</td>
        </tr>
        <tr>
          <td class="name_1">T_("LAN Connection"):</td>
          <td class="value_1">{{lan_connection}}</td>
        </tr>
        <tr>
          <td class="name_2">T_("WAN Connection"):</td>
          <td class="value_2">{{wan_connection}}</td>
        </tr>
        <tr><td colspan="2"><hr /></td></tr>
        <tr>
          <td class="name_1">T_("Comments"):</td>
          <td class="value_1">{{comments}}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<div align="right">
  T_("Last modified on"): {{timestamp}}
</div>
