<webbox id="contact_edit">

<if condition="'{{mode}}'!='hidden'">
<form name="contact_edit" onsubmit="return false;">
<input type="submit" class="hidden_submit" value=""
       onclick="this.focus(); save_contact();" />

<tr class="row_edit">
  <td>#</td>
  <td><input type="text" name="name" value="{{name}}" size="15" /></td>
  <td><input type="text" name="email" value="{{email}}" size="15" /></td>
  <td><input type="text" name="phone" value="{{phone}}" size="15" /></td>
  <td><input type="text" name="role" value="{{role}}" size="20" /></td>
  <td><input type="text" name="hours" value="{{hours}}" size="20" /></td>
  <td><a class="button" href="javascript:save_contact()">Save</a></td>
</tr>
</form>
</if>

</webbox>
