<webbox id="country">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td class="node_title">
      T_("Country"): 
      <strong>{{name}}</strong>
      ( {{id}} / <a href="javascript:select_roc('{{ROC_id}}')">{{ROC_id}}</a> )
    </td>
    <if condition="{{is_country_admin}}">
    <td align="right">
      <if condition="{{mode}}=='view'">
        <a class="button" href="javascript:set_mode('edit')">Edit</a>
      </if>
      <if condition="{{mode}}=='edit'">
        <a class="button" href="javascript:set_mode('view')">View</a>
      </if>
    </td>
    </if>
  </tr>
</table>
<hr />

<include src="{{./}}country_{{mode}}.html" />
<hr />

<!--# site list #-->
<include src="{{./}}sites/site_list.html" />

</webbox>
