<webbox id="contact_list">

<table class="list_table" cellspacing="1" cellpadding="0">
  <tr>
    <td class="list_header" width="2%">T_("Nr")</td>
    <td class="list_header">T_("Name")</td>
    <td class="list_header">T_("Email")</td>
    <td class="list_header">T_("Phone")</td>
    <td class="list_header">T_("Role")</td>
    <td class="list_header">T_("Hours")</td>
    <if condition="'{{mode}}'=='edit'">
      <td class="list_header" nowrap="true">
        <a class="button" href="javascript:add_contact()">
          T_("Add")</a>&amp;nbsp;
      </td>
    </if>
  </tr>
  <repeat rs="contacts">
    <ifempty>
      <tr><td colspan="5" class="list_empty">T_("No contact found!")</td></tr>
    </ifempty>
    <var name="row">{{CurrentRowNr}}%2</var>
    <tr>
      <td class="row_nr_{{row}}">{{CurrentRowNr}}</td>
      <td class="row_{{row}}">{{name}}</td>
      <td class="row_{{row}}">{{email}}</td>
      <td class="row_{{row}}">{{phone}}</td>
      <td class="row_{{row}}">{{role}}</td>
      <td class="row_{{row}}">{{hours}}</td>
      <if condition="'{{mode}}'=='edit'">
        <td class="row_{{row}}" width="1%" nowrap="true">
          <a class="button" href="javascript:edit_contact('{{contact_id}}')">T_("E")</a>
          <a class="button" href="javascript:del_contact('{{contact_id}}')">T_("X")</a>
        </td>
      </if>
    </tr>
  </repeat>

  <include src="{{./}}edit/contact_edit.html" />

</table>

</webbox>
