<webbox id="downtime_edit">

<if condition="'{{mode}}'!='hidden'">
<form name="downtime_edit" onsubmit="return false;">
<input type="submit" class="hidden_submit" value=""
       onclick="this.focus(); save_downtime();" />

<tr class="row_edit">
  <td>#</td>
  <td><input type="text" name="start" value="{{start}}" size="10" /></td>
  <td><input type="text" name="endtime" value="{{endtime}}" size="10" /></td>
  <td><input type="text" name="description" value="{{description}}" size="60" /></td>
  <td><a class="button" href="javascript:save_downtime()">T_("Save")</a></td>
</tr>
</form>
</if>

</webbox>