<webbox id="roc">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td class="node_title">
      T_("Regional Operation Center"): &nbsp;&nbsp;
      <strong>{{id}} &nbsp;&nbsp;({{name}})</strong>
    </td>
    <if condition="{{is_roc_admin}}">
    <td align="right">
      <if condition="{{mode}}=='view'">
        <a class="button" href="javascript:set_mode('edit')">Edit</a>
      </if>
      <if condition="{{mode}}=='edit'">
        <a class="button" href="javascript:set_mode('view')">View</a>
      </if>
    </td>
    </if>
  </tr>
</table>
<hr />

<include src="{{./}}roc_{{mode}}.html" />
<hr />

<!--# country list #-->
<include src="{{./}}countries/country_list.html" />

</webbox>