<table width="100%" border="0">
  <tr>
    <td>Email:</td>
    <td><a href="mailto:{{email}}">{{email}}</a></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><strong>{{phone}}</strong></td>
  </tr>
  <tr>
    <td valign="top">Comments:</td>
    <td>{{comments}}</td>
  </tr>
  <tr>
    <td colspan="2" align="right">
      T_("Last modified on"): {{timestamp}}
    </td>
  </tr>
</table>
