<webbox id="roc_list">
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td><strong>T_("Regional Operation Centers (ROCs)"):</strong></td>

    <if condition="{{is_goc_admin}}">
    <td align="right">
      <if condition="{{mode}}=='view'">
        <a class="button" href="javascript:set_mode('edit')">T_("Edit")</a>
      </if>
      <if condition="{{mode}}=='edit'">
        <a class="button" href="javascript:set_mode('view')">T_("View")</a>
      </if>
    </td>
    </if>
  </tr>
</table>

<table class="list_table" cellspacing="1" cellpadding="0">
  <tr>
    <td class="list_header">T_("ID")</td>
    <td class="list_header">T_("Name")</td>
    <td class="list_header">T_("Email")</td>
    <td class="list_header">T_("Phone")</td>
    <td class="list_header">T_("Admin")</td>
    <if condition="'{{mode}}'=='edit'">
      <td class="list_header" nowrap="true">
        <a class="button" href="javascript:add_roc()">T_("Add")</a>&nbsp;
      </td>
    </if>
  </tr>
  <repeat rs="rocs">
    <ifempty>
      <tr><td colspan="5" class="list_empty">T_("No ROCs found!")</td></tr>
    </ifempty>
    <var name="row">{{CurrentRowNr}}%2</var>
    <tr>
      <td class="id_row_{{row}}" width="1%" nowrap="true">
       <a href="javascript:select_roc('{{ROC_id}}')">
         {{ROC_id}}
       </a>
      </td>
      <td class="row_{{row}}">{{name}}</td>
      <td class="row_{{row}}">{{email}}</td>
      <td class="row_{{row}}">{{phone}}</td>
      <td class="row_{{row}}">{{admin}}</td>
      <if condition="'{{mode}}'=='edit'">
        <td class="row_{{row}}" width="1%" nowrap="true">
          <a class="button" href="javascript:edit_roc('{{ROC_id}}')">
          T_("E")</a>
          <a class="button" href="javascript:del_roc('{{ROC_id}}')">
          T_("X")</a>
        </td>
      </if>
    </tr>
  </repeat>

  <include src="{{./}}edit/roc_edit.html" />

</table>

</webbox>
